h2> Room {{movieId}} - <span>{{ movies.title }}</span> </h2>

 <img style="width: 300px; height: 300px"src="{{ movies.poster }}">

 <ul>
   <li><strong>Genres:</strong> <ul><li *ngFor="let genre of movies.genres">{{ genre }}</li></ul>
      </li>
      <li><strong>Year:</strong> <ul><li>{{ movies.year }}</li></ul>
      </li>
      <li><strong>Director:</strong> <ul><li>{{ movies.director }}</li></ul>
      </li>
      <li><strong>Actors:</strong> <ul><li *ngFor="let actor of movies.actors">{{ actor }}</li></ul>
      </li>

      <li><strong>Synopsis:</strong> <p>{{ movies.synopsis }}</p>
      </li>
 </ul>
